@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800);
 body {
    font-family: 'Open Sans', sans-serif;
    background: #8d1849;
}
#wrap {
    background: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding: 25px;
}
/* Logo */

.logo {
    width: 200px;
}
.logo img {
    width: 50%;
}
/* Motion logos */

.meh {
    width: 200px;
}

.motion {
    display: inline;
}
.motion img {
    width: 50%;
    display: inline;
}
/* buttons */

input[type="submit"] {
    border: 2px solid #8d1849;
    text-decoration: none;
    color: #8d1849;
    background: #fff;
    font-weight: bold;
    padding: 5px;
}
input[type="submit"]:hover {
    color: #fff;
    background: #8d1849;
    cursor: pointer;
}

.btn {
    border: 2px solid #8d1849;
    text-decoration: none;
    color: #8d1849;
    background: #fff;
    font-weight: bold;
    padding: 5px;
}
.btn:hover {
    color: #fff;
    background: #8d1849;
    cursor: pointer;
}
